#root {
    max-width: 1280px;
    margin: 0 auto;
   
    padding: 2rem;
    text-align: center;
    
   
  }
  
  body{
   
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)),
    url(/fondo1.webp) no-repeat ;
    font-size: 1em;
  }
  
  input{
    margin-bottom: 0.5rem;
    border-radius: 8%;
    /* background-color: rgb(255, 255, 255); */
    border-bottom: solid 1px #2461a6;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.50);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(rgba(5, 7, 12, 0.1), rgba(5, 7, 12, 0.50)) ;
  
  }
  
  .container{
    /* background-color: #2461a6; */
    
    height: 40rem;
  }
  
  h1{
    /* background-color: rgb(174, 12, 12); */
    /* border: solid 1px #0077ff; */
   margin: 1rem;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-style: italic;
    
    color: rgba(0, 0, 0, 0.80);   
  }
  h2{
    /* background-color: rgb(174, 12, 12); */
    /* border: solid 1px #0077ff; */
    margin: 0.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: rgba(0, 0, 0, 0.75);   
  }
  
  p{
    /* background-color: teal; */
    width: 50%;
    border-radius: 2%;
    border-bottom: solid 1px #2461a6;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style:italic;
    /* background: linear-gradient(rgba(5, 7, 12, 0.15), rgba(5, 7, 12, 0.15)) ; */
  }
  .One{
    background-color: #2461a6;
    position: relative;
    padding-left: 3rem;
    margin-left: 1rem;
  }
  .Two{
    background-color: #2461a6;
    margin-left: 2rem;
  }
  .Three{
    background-color: #2461a6;
    margin-left: 3rem;
  }
  .Four{
    background-color: #2461a6;
    margin-left: 4rem;
  }
  .Five{
    background-color: #2461a6;
    margin-left: 12rem;
  }
  
  .Busqueda{
    border-bottom: solid 2px #2461a6;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style:oblique;
    background: linear-gradient(rgba(5, 7, 12, 0.30), rgba(5, 7, 12, 0.30)) ;
  }
  
  .Datos{
    border-radius: 5%;
    padding: auto;
    background-color: rgb(77, 255, 0);
    background: linear-gradient(rgba(5, 7, 12, 0.40), rgba(5, 7, 12, 0.10)),
    url(/clima.png)  ;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  
  
  
    -moz-border-radius: 0 50% / 0 100%;
    -webkit-border-radius: 0 50% / 0 100%;
    border-radius: 0 50% / 0 100%;
    
    border: 3px solid #555;
  
  
  }
  
  .img1{
    /* background-color: rgb(255, 255, 255); */
    background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.4));
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    border-radius: 5%;
    width: 7rem;
    height: 6rem;
    
    
  }
  
  .Cambio{
    /* background-color: rgb(77, 255, 0); */
    position: absolute;
   
    width: 12rem;
    height: 2.8rem;
    font-size: 0.8em;
    background: linear-gradient(rgba(5, 7, 12, 0.30), rgba(5, 7, 12, 0.75));
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
   
  }